.inputBox {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  max-width: 95vw;
  background-color: #ffffff;
  height: 70px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}


.inputBox input {
  padding-left: 1.5rem;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  flex: 1;
  border: none;
  outline: none;
  font-size: 25px;
  background-color: transparent;
} 

.inputBox input, ::after, ::before {
  box-sizing: border-box;
}

.inputBox input[type="number"]::-webkit-inner-spin-button,
.inputBox input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


.submitBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: .5rem;
}

.submit {
  padding: auto;
  font-size: 25px;
  height: 70%;
  border: 2px solid #6c6e71;
  background-color: transparent;
  color: #6c6e71;
  border-radius: 10px;
}

.submit-locked {
  padding: auto;
  font-size: 25px;
  color: aliceblue;
  background-color: #909398;
  height: 70%;
  border: 1px solid #6c6e71;
  border-radius: 10px;
}

.submit:hover {
  background-color: #4aa8efb3;
  border: 1px solid #4aa8efb3;
  color: aliceblue
}

@media screen and (max-width: 520px) {
  .inputBox input {
    width: 60vw;
  }

  .submit {
    font-size: 20px;
  }

  .submit-locked {
    font-size: 20px;
  }
}