.leaderboard-body {
    display: flex;
    width: 100vw;
    align-items: flex-start;
}

.leaderboard {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 100%;
    height: auto;
    padding-left: 2rem;
    font-size: 30px;
    color: lightgray;
}

.leaderboard-player {
    min-width: fit-content;
    margin-right: 2rem;
}

.player-answer{
    text-align: center;
    font-size: 27px;
}