.home-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 85vw;
    min-height: 65vh;
    border-top: 2px solid black;
    margin: 1rem;
    color: #f0f8ff;
    font-size: 30px;
    padding: 2rem;
}

.display-container {
    display: flex;
    justify-content: center;
    font-size: 59px;
    text-align: center;
    color: lightgray;
}


.go-button {
    border: 3px solid aliceblue;
    border-radius: 12px;
    background: transparent;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    font-size: 50px;
    height: fit-content;
    width: 280px;
    color: aliceblue;
}

.go-button:hover {
    background-color: #5eb4f691;
}

.go-locked {
    color: #757575d5;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border: 3px solid #6c6e71;
    border-radius: 12px;
    background-color: #a5a6a9;
    font-size: 50px;
    height: 10vh;
    width: 280px;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 280px;
}

.input-bubble {
    width: 780px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-bubble input {
    border: transparent;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    font-size: 20px;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 100%;
    padding-left: 2rem;
}

.toggle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 560px;
    height: 60px;
}

.toggle-button {
    color: aliceblue;
    opacity: .9;
    font-size: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    background-color: transparent;
    width: 15rem;
}

.toggle-button:after {
    content: ' Game';
}

.toggle-active {
    color: aliceblue;
    opacity: .9;
    font-size: 30px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: 3px solid rgba(255, 255, 255, 0.8);
    background-color: #5eb4f691;
    width: 15rem;
}

.toggle-active:after {
    content: ' Game';
}

.toggle-button:hover {
    background-color: #5eb4f691;
}

.lobby-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ready-info {
    font-size: 65px;
}

.lobby-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 460px;
}

@media screen and (max-width: 850px) {
    .home-box {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    .input-bubble {
        width: 90vw;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .toggle-container {
        min-height: auto;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 760px) {
    .toggle-container {
        min-height: auto;
        overflow-wrap: break-word;
        width: 70vw;
    }

    .toggle-button {
        width: 100%;
        margin: 0px 8px;
    }

    .toggle-button:after {
        content: '';
    }

    .toggle-active {
        width: 100%;
        margin: 0px 8px;
    }

    .toggle-active:after {
        content: '';
    }
}

@media screen and (max-width: 560px) {
    .toggle-container {
        min-height: auto;
        overflow-wrap: break-word;
        width: 85vw;
    }

    .input-bubble input {
        padding-left: .5rem;
    }
}

@media screen and (max-width: 380px) {
    .go-button {
        width: 200px;
    }
    .display-container {
        font-size: 50px
    }
}