.game-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 1350px;
  min-height: 520px;
  height: min-content;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin: 1rem;
  color: aliceblue;
  opacity: .8;
  font-size: 30px;
}

.singlePlayerScore {
  padding-left: 2rem;
  font-size: 30px;
  color: lightgray;
}


