.inputBox {
  border: 1px solid lightgray;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  width: 760px;
  background-color: #ffffff;
  height: 70px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.inputBox input {
  padding-left: 1.5rem;
  flex: 1;
  border: none;
  outline: none;
  font-size: 20px;
  background-color: transparent;
}

.inputBox input[type="number"]::-webkit-inner-spin-button,
.inputBox input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.submitBox {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.submit {
  padding: auto;
  font-size: 20px;
  color: #757575;
  height: 70%;
  border: 1px solid #757575;
  border-radius: 10px;
}

.submit:hover {
  background-color: #757575;
  color: #e9ecef;
}